/** Main Box  **/

.mainForm{
	width : 450px;
	padding : 30px;
	margin :40px auto;
	background-color:#FFF;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.130);
	-webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.130);
	-moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.130);
}


/** Single sections **/

.inner-wrapper{
	padding : 30px;
	background-color: #F8F8F8;
	border-radius:6px;
	margin-bottom:15px;
}

/** Heading **/

h1{
	background-color: #2A88AD;
	padding:20px 30px 15px 30px;
	margin:-30px -30px 30px -30px;
	border-radius:10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
	color:#FFF;
	text-shadow:1px 1px 3px rgba(0,0,0,0.12);
	box-shadow:inset 0px 2px 2px 0px rgba(255,255,255,0.17);
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255,255,255,0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255,255,255,0.17);
	border: 1px solid #257C9E;
}
@import url('demo.css');
@import url('common.css');
@import url('icons.css');

.cd-dropdown > span,
.cd-dropdown ul li:nth-last-child(-n+3) span {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-dropdown ul {
	position: absolute;
	top: 0px;
	width: 100%;
}

.cd-dropdown ul li {
	position: absolute;
	width: 100%;
}

.cd-active.cd-dropdown > span {
	color: #fc756f;
}

.cd-active.cd-dropdown > span,
.cd-active.cd-dropdown ul li span {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-active.cd-dropdown ul li span {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown ul li span:hover {
	background: #fc756f;
	color: #fff;
}
h1 span {
	display:block;
	margin-top:2px;
	font-size: 13px;
}

/** Inputs and labels **/

label{
	display:block;
	font-size:13px;
	color:#888;
	margin-bottom:15px;
}

input[type="name"],input[name="regno"],input[name="contactno"],input[name="email"],input[name="project_Title"],textarea{
	display:block;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	width:100%;
	padding 8px;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border:2px solid #fff;
	box-shadow:inset 0px 1px 1px rgba(0,0,0,0.33);
	-webkit-box-shadow:inset 0px 1px 1px rgba(0,0,0,0.33);
	-moz-box-shadow:inset 0px 1px 1px rgba(0,0,0,0.33);
}