/**@import url('css/component.css');**/
/** Main Box  **/
.mainForm{
	width : 450px;
	padding : 30px;
	margin :40px auto;
	background-color:#FFF;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.130);
	-webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.130);
	-moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.130);
}


/** Single sections **/

.inner-wrapper{
	padding : 30px;
	background-color: #F8F8F8;
	border-radius:6px;
	margin-bottom:15px;
}

/** Heading **/

h1{
	background-color: #2A88AD;
	padding:20px 30px 15px 30px;
	margin:-30px -30px 30px -30px;
	border-radius:10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
	color:#FFF;
	text-shadow:1px 1px 3px rgba(0,0,0,0.12);
	box-shadow:inset 0px 2px 2px 0px rgba(255,255,255,0.17);
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255,255,255,0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255,255,255,0.17);
	border: 1px solid #257C9E;
}

h1 span {
	display:block;
	margin-top:2px;
	font-size: 13px;
}

/** Inputs and labels **/

label{
	display:block;
	font-size:13px;
	color:#888;
	margin-bottom:15px;
}

input[name="name"],input[name="regno"],input[name="contactno"],input[name="email"],input[name="project_Title"],textarea{
	display:block;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	width:100%;
	padding 8px;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border:2px solid #fff;
	box-shadow:inset 0px 1px 1px rgba(0,0,0,0.33);
	-webkit-box-shadow:inset 0px 1px 1px rgba(0,0,0,0.33);
	-moz-box-shadow:inset 0px 1px 1px rgba(0,0,0,0.33);
}
.section{
	font:normal 20px;
	color:#2A88AD;
	margin-bottom: 5px;
}

.section span{
	background-color: #2A88AD;
	padding:5px 10px 5px 10px;
	position:absolute;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border:4px solid #fff;
	font-size: 14px;
	margin-left:-45px;
	color:#fff;
	margin-top:-3px;
}

/** buttons **/

input[type="submit"]{
	background-color: #2A88AD;
	padding:8px 20px 8px 20px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	color:#fff;
	text-shadow:1px 1px 3px rgba(0,0,0,0.12);
	font:normal 30px;
	box-shadow:inset 0px 2px 2px 0px rgba(255,255,255,0.17);
	-webkit-box-shadow:inset 0px 2px 2px 0px rgba(255,255,255,0.17);
	-moz-box-shadow:inset 0px 2px 2px 0px rgba(255,255,255,0.17);
	border:1px solid #257C9E;
	font-size:15px;
}
input[type="submit"]:hover {
	background:#2A6881;
	box-shadow:inset 0px 2px 2px 0px rgba(255,255,255,0.28);
	-webkit-box-shadow:inset 0px 2px 2px 0px rgba(255,255,255,0.28);
	-moz-box-shadow:inset 0px 2px 2px 0px rgba(255,255,255,0.28);
	
}
/***,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ac-custom {
	padding: 0 3em;
	max-width: 900px;
	margin: 0 auto;
}

.ac-custom h2 {
	font-size: 3em;
	font-weight: 300;
	padding: 0 0 0.5em;
	margin: 0 0 30px;
}

.ac-custom ul,
.ac-custom ol {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	max-width: 800px;
}

.ac-custom li {
	margin: 0 auto;
	padding: 2em 0;
	position: relative;
}

.ac-custom label {
	display: inline-block;
	position: relative;
	font-size: 2em;
	padding: 0 0 0 80px;
	vertical-align: top;
	color: rgba(0,0,0,0.2);
	cursor: pointer;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"],
.ac-custom label::before {
	width: 50px;
	height: 50px;
	top: 50%;
	left: 0;
	margin-top: -25px;
	position: absolute;
	cursor: pointer;
}

.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
}

.ac-custom label::before {
	content: '';
	border: 4px solid #fff;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.ac-radio label::before {
	border-radius: 50%;
}

.ac-custom input[type="checkbox"]:checked + label,
.ac-custom input[type="radio"]:checked + label {
	color: #fff;
} 

.ac-custom input[type="checkbox"]:checked + label::before,
.ac-custom input[type="radio"]:checked + label::before {
	opacity: 0.8;
}

/* General SVG and path styles */

/**.ac-custom svg {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	margin-top: -20px;
	left: 5px;
	pointer-events: none;
}

.ac-custom svg path {
	stroke: #fdfcd3;
	stroke-width: 13px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}
**/
/** Specific input, SVG and path styles 

/* Circle 
.ac-circle input[type="checkbox"],
.ac-circle input[type="radio"],
.ac-circle label::before {
	width: 30px;
	height: 30px;
	margin-top: -15px;
	left: 10px;
	position: absolute;
}

.ac-circle label::before {
	background-color: #fff;
	border: none;
}

.ac-circle svg {
	width: 70px;
	height: 70px;
	margin-top: -35px;
	left: -10px;
}

.ac-circle svg path {
	stroke-width: 5px;
} 

/* Box Fill 
.ac-boxfill svg path {
	stroke-width: 8px;
} 

/* Swirl 
.ac-swirl svg path {
	stroke-width: 8px;
}

/* List 
.ac-list ol {
	list-style: decimal;
	list-style-position: inside;
}

.ac-list ol li {
	font-size: 2em;
	padding: 1em 1em 0 2em;
	text-indent: -40px;
}

.ac-list ol li label {
	font-size: 1em;
	text-indent: 0;
	padding-left: 30px;
}

.ac-list label::before {
	display: none;
}

.ac-list svg {
	width: 100%;
	height: 80px;
	left: 0;
	top: 1.2em;
	margin-top: 0px;
}

.ac-list svg path {
	stroke-width: 4px;
}

/* Media Queries 
@media screen and (max-width: 50em) {
	section {
		font-size: 80%;
	}
}**/