/** Body Definitions **/
body.bodyclass{
	background-color: #3B5998;
	color:white;
}


/** Header **/
header.up{
	background-color: #293E6A;
	float:left;
	margin:0 0 30px 0;
	padding:5px 0 0 0;
	width:100%;
	height:60px;

}

/* Navigation bar */

nav{
	float:right;

}
nav ul{
	list-style:none;
	word-spacing:15px;
}

ul li{
	display:inline-block;

}


/** Footer **/

footer.foot{
	background-color: #293E6A;
	clear: both;
	text-align: center;
	vertical-align: bottom;
}